#Charles_Picture{
    border-radius: 90px;
}

body{
 background-color: pink;
}

#title,#title2,#title3,#title4,#title5{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.menu {
    list-style:none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    right: 30px;
}

.links {
    float: right;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(255, 130, 240);
}

.links:hover{
    background-color:violet;
}

#title2,#title3,#title4,#title5{
    font-size:33px;
}

p{
    font-size: 12px;
}

